<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">

        <%# Userinfo部分テンプレート %>
        <%= render "users/userinfo", user: @user %>

        <%# Newbook部分テンプレート %>
        <%= render "books/form", book: @book %>

      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, size: "40x40", format:"jpeg", fallback: "no_image.jpg" %><br>
                <%= link_to @user.name, user_path(@user) %>
              </td>
              <td>
                <%= link_to @showbook.title, book_path(@showbook) %>
              </td>
              <td>
                <%= @showbook.body %>
              </td>
              <td class="favorites">
                <!--イイねを挿入-->
                <%= render "favorites/favorites", showbook: @showbook %>
              </td>
              <td>
              <% if @user.id == current_user.id %>
                <%= link_to "Edit", edit_book_path(@showbook), class:"btn btn-sm btn-success" %>
              <% end %>
              </td>
              <td>
              <% if @user.id == current_user.id %>
                <%= link_to "Destroy", book_path(@showbook.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm"=>"Are you sure?" %>
              <% end %>
              </td>
              <td>
                <P>
                コメント数：<%= @showbook.book_comments.count %>
                </P>
              </td>
            </tr>
          </tbody>
        </table>

        <!--コメント一覧の部分テンプレート-->
        <table>
          <tbody class="book_comments_index">
            <%= render "book_comments/index", {showbook: @showbook, comment_user: @comment_user} %>
          </tbody>
        </table>

        <!--new commentの部分テンプレート-->
        <div class="new-comment">
          <%= render "book_comments/form", {showbook: @showbook, book_comment: @book_comment} %>
        </div>
      </div>
    </div>
  </div>
</main>
