<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=diveice-width", initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <% if user_signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <a class="fas fa-home nav-link text-light" href="user_path(current_user.id)">
                  Home
                </a>
              </li>
              <li>
                <a class="fas fa-users nav-link text-light" href="users_path(current_user.id)">
                  Users
                </a>
              </li>
              <li>
                <a class="fas fa-book-open nav-link text-light" href="books_path(current_user.id)">
                  ::before
                  Books
              </li>
              <li>
                <a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="destroy_user_session_path">
                  ::before
                  Logout
                </a>
              </li>
            </ul>
          </div>
          <% else %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
            <spna class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <a class="fas fa-home nav-link text-light" href="/">
                <%= link_to "Home", root_path %>
              </a>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "Login", new_user_session_path %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
